@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --manus-im-inter-medium-font-family: "Inter", Helvetica;
  --manus-im-inter-medium-font-size: 16.875px;
  --manus-im-inter-medium-font-style: normal;
  --manus-im-inter-medium-font-weight: 500;
  --manus-im-inter-medium-letter-spacing: 0px;
  --manus-im-inter-medium-line-height: 28px;
  --manus-im-inter-medium-underline-font-family: "Inter", Helvetica;
  --manus-im-inter-medium-underline-font-size: 13.5625px;
  --manus-im-inter-medium-underline-font-style: normal;
  --manus-im-inter-medium-underline-font-weight: 500;
  --manus-im-inter-medium-underline-letter-spacing: 0px;
  --manus-im-inter-medium-underline-line-height: 20px;
  --manus-im-inter-regular-font-family: "Inter", Helvetica;
  --manus-im-inter-regular-font-size: 11.8828125px;
  --manus-im-inter-regular-font-style: normal;
  --manus-im-inter-regular-font-weight: 400;
  --manus-im-inter-regular-letter-spacing: 0px;
  --manus-im-inter-regular-line-height: 13px;
  --manus-im-inter-semi-bold-font-family: "Inter", Helvetica;
  --manus-im-inter-semi-bold-font-size: 17.015625px;
  --manus-im-inter-semi-bold-font-style: normal;
  --manus-im-inter-semi-bold-font-weight: 600;
  --manus-im-inter-semi-bold-letter-spacing: 0px;
  --manus-im-inter-semi-bold-line-height: 28px;
  --manus-im-libre-baskerville-regular-font-family: "Libre Baskerville",
    Helvetica;
  --manus-im-libre-baskerville-regular-font-size: 16px;
  --manus-im-libre-baskerville-regular-font-style: normal;
  --manus-im-libre-baskerville-regular-font-weight: 400;
  --manus-im-libre-baskerville-regular-letter-spacing: 0px;
  --manus-im-libre-baskerville-regular-line-height: 24px;
  --manusimathens-gray: rgba(229, 231, 235, 1);
  --manusimazure-radiance: rgba(0, 129, 242, 1);
  --manusimblack: rgba(0, 0, 0, 1);
  --manusimblack-12: rgba(0, 0, 0, 0.12);
  --manusimblack-4: rgba(0, 0, 0, 0.04);
  --manusimblack-6: rgba(0, 0, 0, 0.06);
  --manusimdesert-storm: rgba(248, 248, 247, 1);
  --manusimdune: rgba(52, 50, 45, 1);
  --manusimdune-4: rgba(55, 53, 47, 0.04);
  --manusimdune-6: rgba(55, 53, 47, 0.06);
  --manusimdune-8: rgba(55, 53, 47, 0.08);
  --manusimforest-green: rgba(37, 186, 59, 1);
  --manusimforest-green-12: rgba(37, 186, 59, 0.12);
  --manusimfriar-gray: rgba(133, 132, 129, 1);
  --manusimfuscous-gray: rgba(83, 83, 80, 1);
  --manusimgray-nickel: rgba(185, 185, 183, 1);
  --manusimheavy-metal: rgba(26, 26, 25, 1);
  --manusimjordy-blue: rgba(156, 195, 244, 1);
  --manusimroyal-blue: rgba(77, 129, 232, 1);
  --manusimwhite: rgba(255, 255, 255, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-gray-main: rgb(248, 248, 247);
  --border-dark: rgba(0, 0, 0, 0.08);
  --text-primary: rgb(52, 50, 45);
  --text-secondary: rgb(83, 83, 80);
  --text-tertiary: rgb(133, 132, 129);
  --fill-tsp-white-main: rgb(255, 255, 255);
  --fill-tsp-white-dark: rgba(0, 0, 0, 0.04);
  --icon-secondary: rgb(83, 83, 80);
  --icon-white: rgb(52, 50, 45);
  --icon-white-tsp: rgba(52, 50, 45, 0.8);
  --icon-brand: #0081F2;
  --border-main: rgba(0, 0, 0, 0.08);
  --border-light: rgba(0, 0, 0, 0.06);
  --fill-black: #000000;
  --text-onblack: #FFFFFF;
  --fill-tsp-gray-main: rgba(0, 0, 0, 0.04);
  --fill-tsp-gray-dark: rgba(0, 0, 0, 0.08);
  --function-success: #25BA3B;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[var(--background-gray-main)] text-[var(--text-primary)];
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
